
# Local files excluded from GitHub backup
.DS_Store
.Rhistory
.RData*
.env
.env.*
!.env.example
node_modules/
dist/
.vercel/
*.db
*.db-*
*.sqlite*
*.log
*.pem
*.key
*recovery*codes*

*
!*/
!*.R
!*.r
!*.Rmd
!*.RMD
!*.rmd
!README.md
!.gitignore
